@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@font-face {
  font-family: cairo;
  src: url(./fonts/Cairo-Regular.ttf);
}

body {
  margin: 0;
  font-family: 'cairo' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.slick-prev,
.slick-next {
  z-index: 10;
}

.slick-prev:before,
.slick-next:before {
  font-size: 30px;
  opacity: 0.75;
}

.slick-prev {
  left: 25px;
}

.slick-next {
  right: 25px;
}

.slick-dots {
  bottom: 25px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: white;
  opacity: 0.5;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: white;
}